/build
/fit
/kconfig
/yf

/ash
/avm_kernel_config.bin2asm
/avm_kernel_config.extract
/avm-rle-decode
/avm-rle-stream-length
/blkid
/bunzip2
/busybox
/bzimage2eva
/cacert.pem
/cpio
/crc32
/debugfs
/dos2unix
/e2fsck
/eva2bzimage
/eva2lzma
/execstack
/fastjar
/find-squashfs
/ftp
/genext2fs
/gperf
/gunzip
/gzip
/lunzip
/lzma
/lzma2eva
/makedevs
/md5sum
/meson
/mksquashfs2-lzma
/mksquashfs3-multi
/mksquashfs4-avm-be
/mksquashfs4-avm-le
/ncftp
/ncftpget
/ncftpls
/ncftpput
/ninja
/openssl
/patchelf
/patchelf-target
/sed
/sfk
/sha1sum
/sha256sum
/sha512sum
/sum
/tar
/tar-gnu
/telnet
/tic
/tichksum
/tune2fs
/uimg
/uncompress
/unlzma
/unsquashfs3-multi
/unsquashfs4-avm-be
/unsquashfs4-avm-le
/unxz
/unzip
/wget
/xargs
/xdelta3
/xz

